@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,devanagari);

#billInfo * {
	box-sizing: border-box;	

}
body {
	background: rgb(236,236,236);
	font-family:"Noto Sans","Noto Sans Devanagari","utsaah", arial , sans-serif ;
}
.wrapper {
	text-align: center;

}
a, a:visited {
	color: black;
}